:root {
  --primary: #bc0e4c;
  --bg: #101010;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffff;
  overflow-x: hidden;
}
/* Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(55, 55, 55);
  border-bottom: 2px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#menu {
  display: none;
}
/* Hero Style */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/vinil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255) 15%,
    rgba(255, 255, 255, 0) 70%
  );
}
.hero .content {
  padding: 1.4 rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5em;
  color: #101010;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  line-height: 1.2;
  margin-left: 5rem;
  margin-top: 8rem;
}
.hero .content h1 span {
  color: var(--primary);
}
.hero .content h2 {
  font-size: 3em;
  color: #101010;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  line-height: 1.2;
  margin-left: 5rem;
}
.hero .content h2 span {
  color: var(--primary);
}
.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  mix-blend-mode: difference;
  margin-left: 5rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(255, 255, 255, 0.5);
  margin-left: 5rem;
}

/* About Style */
.about,
.music,
.premium {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.music h2,
.premium h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.music h2 span,
.premium h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 30rem;
}
.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-left: 1rem;
}
.about .row .content p {
  margin-left: 0.8rem;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Music Style */
.music .playlist {
  display: flex;
}
.music .song1 {
  position: relative;
  left: 130px;
  top: 50px;
}
.music .song2 {
  position: relative;
  left: 230px;
  top: 50px;
}
.music .song3 {
  position: relative;
  left: 330px;
  top: 50px;
}
.music .song4 {
  position: relative;
  left: 430px;
  top: 50px;
}
.music .song5 {
  position: relative;
  left: 530px;
  top: 50px;
}
.music .playlist p {
  text-align: center;
}
.music .playlist2 {
  display: flex;
}
.music .song6 {
  position: relative;
  left: 130px;
  top: 100px;
}
.music .song7 {
  position: relative;
  left: 230px;
  top: 100px;
}
.music .song8 {
  position: relative;
  left: 330px;
  top: 100px;
}
.music .song9 {
  position: relative;
  left: 430px;
  top: 100px;
}
.music .song10 {
  position: relative;
  left: 530px;
  top: 100px;
}
.music .playlist2 p {
  text-align: center;
}
.music h3 {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 1rem;
}

/* Premium Style */
.premium .containerform .form {
  margin-top: 1rem;
  position: relative;
  left: 100;
  display: flex;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to right, #383838, var(--primary));
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(255, 255, 255, 0.5);
}
.premium .containerform .form button {
  background: whitesmoke;
  color: var(--primary);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.premium .containerform .form button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.premium .containerform .form textarea {
  border-radius: 10px;
}
.premium .containerform .output {
  margin-top: 1rem;
  position: relative;
  left: 100;

  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to right, #383838, var(--primary));
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(255, 255, 255, 0.5);
}

/* Footer Style */
.footer {
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #bc0e4c;
  position: relative;
  top: 50px;
}

.footer-content {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--bg);
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #101010;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4 ease;
}
.socials a:hover {
  color: #bc0e4c;
}
.footer-bottom {
  background: var(--primary);
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  font-weight: 200;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
